@import './mixins.scss';
.about-section {
  min-height: 100vh;

  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    @include respond(tab-land) {
      width: 90%;
      padding-bottom: 5rem;
    }

    &--profile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 35%;
      margin-right: 15rem;

      @include respond(tab-land) {
        width: 100%;
        margin-right: 0;
      }
      &-pic {
        height: 45vh;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
      }

      &-details {
        margin-top: 3rem;
        text-align: center;
        @include respond(tab-land) {
          margin-bottom: 3rem;
        }
        h2 {
          font-size: 3rem;
          font-weight: 500;
          color: #45474a;
        }
        p {
          padding-top: 1rem;
          font-size: 1.6rem;
        }
      }
    }

    &--skills {
      flex-grow: 1;

      letter-spacing: 0.1rem;
    }
  }
}

.coding {
  width: 75%;
  margin: auto;
  padding-top: 5rem;
  color: #45474a;
  @include respond(tab-land) {
    width: 90%;
    padding-bottom: 5rem;
  }
  p {
    font-size: 3rem;
    font-weight: 500;
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    &--item {
      background-color: #05c2c9;
      padding: 1rem 2rem;
      text-decoration: none;
      color: #fff;
      border-radius: 6px;
      transition: all 0.3s;
      transform: translateY(0);
      letter-spacing: 0.175rem;
      &:hover {
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.2rem);
      }
    }
  }
}
