@import './mixins.scss';

.landing-section {
  background-image: url('../background-photo.png');
  min-height: 100vh;
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  position: relative;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      width: 100%;
    }
    &--name {
      // color: #e31b6d;
      color: #01a1a7;
      font-weight: 600;
    }
  }

  &__button {
    font-family: inherit;
    display: inline-block;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    outline: transparent;
    overflow: hidden;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    transition: all 0.8s;
    text-decoration: none;
    @include respond(phone) {
      font-size: 3rem;
    }
    i {
      padding-left: 1rem;
      position: relative;
      transition: all 0.3s;
    }

    &:hover {
      background-color: #05c2c9;
      border: 3px solid #05c2c9;
      i {
        transform: rotate(90deg);
      }
    }
  }
}
