@import './mixins.scss';
.project-section {
  background-color: #f5f5f5;
  padding-bottom: 10rem;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--item {
    width: 50%;
    height: 50vh;

    padding-right: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    object-fit: cover;
    text-align: center;

    @include respond(tab-land) {
      width: 90%;
      min-height: 35vh;
      margin: auto;
      padding-bottom: 1rem;
    }
  }
}

.project-image {
  width: 100%;
  object-fit: cover;
  animation: project-img 0.5s ease;
}
.project-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  padding-top: 5rem;
  font-family: inherit;
  @include respond(phone) {
    padding-top: 2rem;
  }
  &__name {
    font-size: 2.5rem;
    font-weight: 500;
    color: #01a1a7;
    animation: project-text 0.5s ease;
  }
  &__stack {
    font-size: 2rem;
    margin-bottom: 2rem;
    animation: project-text 0.5s ease;
  }
  &__description {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    animation: project-text 0.5s ease;
  }
}
@keyframes project-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes project-text {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes project-btns {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.project-btn-div {
  animation: project-btns 0.5s ease;
}
.project-btn {
  border: 3px solid #01a1a7;
  padding: 1rem 2rem;
  width: 20rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.9rem;
  transition: all 0.4s;
  text-decoration: none;
  margin-left: 1rem;
  color: #333;

  &:hover {
    background-color: #01a1a7;
    color: #fff;
  }
}
