* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
}

.section__heading {
  padding-top: 10rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #45474a;
  font-family: inherit;
  margin-bottom: 5rem;
}
